# Base requirements for the Streamlit Crypto Strategy Analyzer app
# Install using: pip install -r requirements.txt
streamlit
pandas
pandas_ta  
ccxt       
numpy
Pillow
mplfinance
matplotlib
yfinance
ultralytics
